#textarea{
    width: 100%;
    height: 300px;
    color: white;
    background-color: #191919;
}
#buttun{
    width: 100%;
    margin-bottom: 8px;

}
#output{
    width: 100%;
    height: 300px;
    color: white;
    background-color: #191919;

}